<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Matkatoimisto X</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <ul>
            <li><a href=" {{ url_for('matkakohteet_index')}} ">Matkakohteet</a></li>
            <li><a href=" {{ url_for('matkakohteet_form')}} ">Lisää uusi kohde</a></li>
        </ul>


        {% block body %}
        <p>
            Sisältöä
        </p>
        {% endblock %}
    </body>
</html>