{% extends "layout.html" %}

{% block body %}
    <table>
        <tr>
            <th>Matkakohde</th>
            <th>Maa</th>
            <th>Muokkaa</th>
            <th>Poista</th>
        </tr>
        {% for matkakohde in matkakohteet %}
        <tr>
            <td>{{ matkakohde.name }}</td>
            <td>{{ matkakohde.country }}</td>
            <td>
                <a href="{{ url_for('matkakohteet_edit_form', id=matkakohde.id) }}"> Muokkaa
                </a>
            </td> 
            <td>
                <form method="POST" action="{{ url_for('matkakohteet_delete', matkakohde_id=matkakohde.id) }}">
                    <input type="submit" value="Poista kohde"/>
                </form>
            </td>                       
        </tr>
        {% endfor %}
    </table>
{% endblock %}