{% extends "layout.html" %}

{% block body %}

<form method="POST" action="{{ url_for('matkakohteet_create') }}">
    <div class="addform">
        <table class="adminform">
        <tr>
            <td>
                {{ form.name.label(class="formtext") }}
            </td>
            <td>
                {{ form.name }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.country.label(class="formtext") }}
            </td>
            <td>
                {{ form.country }}
            </td>
        </tr>
        </table>
        <label>
            {{ form.description.label}}
        </label><br>
        {{ form.description(class="textarea", rows="4") }} <br>
        <input type="submit" class="formi" value="Lisää uusi matkakohde"/>
    </div>
</form>

{% endblock %}