{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
<!-- Seuraavassa määritellään hotel_add muuttujan avulla ollaanko poistamassa vai lisäämässä tietoa -->
{% if hotel_add %}
    <h1> Lisää uusi hotelli </h1>
{% else %}
    <h1> Muokkaa hotellin tietoja </h1> 
    <!-- Kohteen poistonamiska. -->
    <form method="POST" action="{{ url_for('hotellit_delete', hotelli_id=hotelli_id) }}">
    <input class="delsubmit" type="submit" value="Poista kohde"/>
    </form>
{% endif %}
<div class="form-group">
   
    <!-- Seuraava osio pitää sisällään hotellien lisäys/editointi lomakkeen. -->
    {% if hotel_add %}
    <form method="POST" action="{{ url_for('hotellit_create') }}" class="form" role="form">
    {% else %}
    <form method="POST" action="{{ url_for('hotellit_edit_form', hotelli_id=hotelli.id) }}" class="form" role="form"> 
    {% endif %}

        {{ wtf.form_field(form.name, class="form-control", placeholder="Nimi") }} 
        {{ wtf.form_field(form.address, class="form-control", placeholder="Osoite") }}
        {{ wtf.form_field(form.phone_number, class="form-control", placeholder="Puhelinnumero") }}
        {{ wtf.form_field(form.email, class="form-control", placeholder="Sähköpostiosoite") }}
        {{ wtf.form_field(form.small_rooms, class="form-control", placeholder="Pienien huoneiden lkm") }}
        {{ wtf.form_field(form.large_rooms, class="form-control", placeholder="Suurien huoneiden lkm") }}
        {{ wtf.form_field(form.price_small, class="form-control", placeholder="1-2 hengen huoneiden hinta per yö") }}
        {{ wtf.form_field(form.price_large, class="form-control", placeholder="3-4 hengen huoneiden hinta per yö") }}
        {{ wtf.form_field(form.star_rating, class="form-control", placeholder="Hotellin tähtiluokitus") }}
        {{ wtf.form_field(form.introduction, class="form-control", placeholder="Kirjoita tähän enintään 500 sanan esittely") }}
            
        {% if hotel_add %}
            <input type="submit" class="btn btn-default btn-block" value="Lisää Hotelli"/>
        {% else %}
            <input type="submit" class="btn btn-default btn-block" value="Päivitä tiedot"/>
        {% endif %}

    </form>
</div>

{% endblock %}