{% extends "layout.html" %}

{% block body %}

{% if hotel_add %}
    <h1> Lisää uusi hotelli </h1>
        <form method="POST" action="{{ url_for('hotellit_create') }}">
{% else %}
    <div class="headerspace">
        <h1> Muokkaa kohteen tietoja </h1> 
        <form method="POST" action="{{ url_for('hotellit_delete', hotelli_id=hotelli_id) }}">
            <input class="delsubmit" type="submit" value="Poista kohde"/>
        </form>
    </div>
    <form method="POST" action="{{ url_for('hotellit_edit_form', hotelli_id=hotelli.id) }}">
{% endif %}
    <div class="addform">
        <table class="adminform">
        <tr>
            <td style="width: 50px">
                {{ form.name.label }}
            </td>
            <td class:"formtext">
                {{ form.name(class="formtext") }} 
            </td>
            <td>
                <ul>
                    {% for error in form.name.errors %}
                    <li> {{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td style="width: 50px">
                    {{ form.destination.label }}
            </td>
            <td class:"formtext">
                    {{ form.destination(class="formtext") }} 
            </td>
            <td>
                <ul>
                    {% for error in form.destination.errors %}
                    <li> {{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.address.label }}
            </td>
            <td class:"formtext">
                {{ form.address(class="formtext") }}
            </td>
            <td>
                <ul>
                    {% for error in form.address.errors %}
                    <li> {{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.phone_number.label }}
            </td>
            <td class:"formtext">
                {{ form.phone_number(class="formtext") }}
            </td>
            <td>
                <ul>
                    {% for error in form.phone_number.errors %}
                    <li> {{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.email.label }}
            </td>
            <td class:"formtext">
                {{ form.email(class="formtext") }}
            </td>
            <td>
                <ul>
                    {% for error in form.email.errors %}
                    <li> {{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.small_rooms.label }}
            </td>
            <td class:"formtext">
                {{ form.small_rooms(class="formtext") }}
            </td>
            <td>
                <ul>
                    {% for error in form.small_rooms.errors %}
                    <li> {{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.large_rooms.label }}
            </td>
            <td class:"formtext">
                {{ form.large_rooms(class="formtext") }}
            </td>
            <td>
                <ul>
                    {% for error in form.large_rooms.errors %}
                    <li> {{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.price_small.label }}
            </td>
            <td class:"formtext">
                {{ form.price_small(class="formtext") }}
            </td>
            <td>
                <ul>
                    {% for error in form.price_small.errors %}
                    <li> {{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.price_large.label }}
            </td>
            <td class:"formtext">
                {{ form.price_large(class="formtext") }}
            </td>
            <td>
                <ul>
                    {% for error in form.price_large.errors %}
                    <li> {{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.star_rating.label }}
            </td>
            <td class:"formtext">
                {{ form.star_rating(class="formtext") }}
            </td>
            <td>
                <ul>
                    {% for error in form.star_rating.errors %}
                    <li> {{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        </table>
        <label>
            {{ form.introduction.label}}
        </label>
        <br>
        {{ form.introduction(class="textarea", rows="4") }} 
        <br>
        {% if hotel_add %}
            <input type="submit" class="formi" value="Lisää Hotelli"/>
        {% else %}
            <input type="submit" class="formi" value="Päivitä tiedot"/>
        {% endif %}
    </div>
</form>

{% endblock %}