th {
    text-align: left
}

body {
    background: gainsboro;
}

.middle-column {
    background: white;
    padding-bottom: 10px;
    min-width: ;
}


.card {
    margin-bottom: 10px;
}

div.addform {
    width: 50%;
}

div.headerspace {
    width: 50%;
}

table.adminform {
    width: 100%
}

.navbar {
    background: #FFFF00;
    margin: 0 0 1cm 0;
}

.navbar-light {
    color: #FFFFFF;
}

.btn-default {
    background: #FFFF00
}

.loginform {
    width: 50%;
}

.word-wrap {
    overflow-wrap: break-word;
}

.form-inline {
    margin: 0 -3px;
}

.form-inline .form-group label,
.form-inline .form-group input,
.form-inline .form-group select {
    margin: 0 10px;
}