{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
<h1> Kirjaudu sisään </h1>
    <form method="POST" action="{{ url_for('auth_login') }}" class="form" role="form">
        <div class="w-50 inline-block">
            {{ wtf.form_field(form.username, class="form-control", placeholder="käyttäjänimi") }}
            {{ wtf.form_field(form.password, class="form-control", placeholder="password") }}
            <p><input type="submit" class="btn btn-default btn-block" value="Kirjaudu sisään"></p>
        </div>
        
    </form>
{% endblock %}