{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}

{% if (not current_user.is_authenticated) or (current_user.admin == 1) or (current_user.id == kayttaja.id) %}

<div class="form-group">
    {% if add_user %}
    <h2>Uusi käyttäjä</h2>
    <form method="POST" action="{{ url_for('auth_new') }}" class="form" role="form">
    {% else %}
    <h2>Muokkaa tietoja</h2>
    <form method="POST" action="{{ url_for('edit_user', user_id=kayttaja.id) }}" class="form" role="form">
    {% endif %}
    
        {{ wtf.form_field(form.first_name, class="form-control", placeholder="max. 24 merkkiä") }}
        {{ wtf.form_field(form.last_name, class="form-control", placeholder="max 24 merkkiä") }}
        {{ wtf.form_field(form.phone_number, class="form-control", placeholder="8-20 merkkiä") }}
        {{ wtf.form_field(form.email, class="form-control", placeholder="Sähköpostiosoite") }}
        {{ wtf.form_field(form.username, class="form-control", placeholder="4-20 merkkiä") }}
        {{ wtf.form_field(form.password, class="form-control", placeholder="Salasana") }}
        {{ wtf.form_field(form.confirm, class="form-control", placeholder="Salasana uudestaan") }}
        {% if current_user.admin == 1 %}
        {{ wtf.form_field(form.admin, class="form-control") }}
        {% endif %}
        <input type="submit" class="btn btn-default btn-block" value="Lähetä"/>
    </form>
</div>

{% else %}
<div>
    <p>Olet jo kirjautunut sisään</p>
</div>
{% endif %}


{% endblock %}