{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}

{% if (current_user.is_authenticated) and (current_user.admin) %}

<div class="form-group">
    <form method="POST" action="{{ url_for('auth_new') }}">

        {{ wtf.form_field(form.firstname, class="form-control", placeholder="max. 24 merkkiä") }}
        {{ wtf.form_field(form.lastname, class="form-control", placeholder="max 24 merkkiä") }}
        {{ wtf.form_field(form.phone_number, class="form-control", placeholder="8-20 merkkiä") }}
        {{ wtf.form_field(form.email, class="form-control", placeholder="Sähköpostiosoite") }}
        {{ wtf.form_field(form.username, class="form-control", placeholder="4-20 merkkiä") }}
        {{ wtf.form_field(form.password, class="form-control", placeholder="Salasana") }}
        {{ wtf.form_field(form.confirm, class="form-control", placeholder="Salasana uudestaan") }}
        {% if current_user.admin %}
        {{ wtf.form_field(form.admin, class="form-control") }}
        {% endif %}
        <input type="submit" class="btn btn-default btn-block" value="Lähetä"/>
    </form>
</div>

{% else %}
<div>
    <p>Olet jo kirjautunut sisään</p>
</div>
{% endif %}


{% endblock %}