{% extends "layout.html" %}

{% block body %}

    <div class="container-fluid word-wrap">
        <div class="row">
            <div class="col-md-3 col-xs-1"></div>
            <div class="col-md-4 col-xs-7 middle-column">
                <h3> {{ matkakohde.name }} </h3>
                <p class="text-black-50"> {{ matkakohde.country }} </p>
                <div class="card middle-column">
                    <h5>Kohde-esittely</h5>
                    <p> {{ matkakohde.intro }} </p>
                </div>
                <div class="card middle-column">
                    <h6>Seuraavat lähdöt:</h6>
                    {% for date in traveldays %}
                        <p> {{ matkakohde.depart}}  {{ date }}</p>
                    {% endfor %}
                </div>
                {% if current_user.is_authenticated %}
                <div class="card middle-column">
                    <p>Kohteesen tehty {{ matkakohde.bookings }} varausta. <br>
                       Joista aktiivisia:  <br>
                       Tulevia: <br>
                       Päättyneitä: <br>
                       Käsittelemättömiä:  <br>
                       Käsiteltyjä: 
                    </p> 
                </div>
                <div class="card middle-column">

                </div>
                {% endif %}
            </div>
            <div class="col-md-2 col-xs-3 middle-column">
                <h5>Hotellit:</h5>
                <ul class="list-group">
                    {% for hotel in hotellit %}
                    <li class="list-group-item"> 
                        {{ hotel.name }} <br/>
                        {% for stars in range(hotel.star_rating)  %}
                        <img border="0" src="{{ url_for('static', filename='images/star.png') }}" alt="star">
                        {% endfor %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-3 col-xs-1"></div>
        </div>
    </div>


{% endblock %}