
{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}

    {% block content %}
<!-- Seuraavassa määritellään dest_add muuttujan avulla ollaanko poistamassa vai lisäämässä tietoa -->
    <div class="container"></div>
    {% if dest_add %}
    <h1> Lisää uusi matkakohde </h1>
        <form method="POST" action="{{ url_for('matkakohteet_create') }}">
    {% else %}
    
        <h1> Muokkaa kohteen tietoja </h1> 
        <!-- Kohteen poistonamiska. -->
        <form method="POST" action="{{ url_for('matkakohteet_delete', matkakohde_id=matkakohde_id) }}" class="form" role="form">
            <input class="delsubmit" type="submit" value="Poista kohde"/>
        </form>
        <form method="POST" action="{{ url_for('matkakohteet_edit_form', matkakohde_id=matkakohde.id) }}" class="form" role="form">
    {% endif %}
       
        <d1>
            {{ wtf.form_field(form.name, class="form-control", placeholder="Kohteen nimi") }}
            {{ wtf.form_field(form.country, class="form-control", placeholder="Maa") }}
            {{ wtf.form_field(form.intro, class="form-control", placeholder="Kirjoita tähän enintään 500 merkin esittely") }}
        </d1>
        <p><input type="submit" class="btn btn-default btn-block" value="Lähetä"></p>
        </form>
    </div>
    {% endblock %}

{% endblock %}