


{% extends "layout.html" %}

{% block body %}

{% if dest_add %}
    <h1> Lisää uusi matkakohde </h1>
        <form method="POST" action="{{ url_for('matkakohteet_create') }}">
{% else %}
    <div class="headerspace">
        <h1> Muokkaa kohteen tietoja </h1> 
        <form method="POST" action="{{ url_for('matkakohteet_delete', matkakohde_id=matkakohde_id) }}">
            <input class="delsubmit" type="submit" value="Poista kohde"/>
        </form>
    </div>
    <form method="POST" action="{{ url_for('matkakohteet_edit_form', matkakohde_id=matkakohde.id) }}">
{% endif %}
    <div class="addform">
        <table class="adminform">
        <tr>
            <td style="width: 50px">
                {{ form.name.label }}
            </td>
            <td class:"formtext">
                {{ form.name(class="formtext") }} 
            </td>
            <td>
                <ul>
                    {% for error in form.name.errors %}
                    <li> {{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.country.label }}
            </td>
            <td class:"formtext">
                {{ form.country(class="formtext") }}
            </td>
            <td>
                <ul>
                    {% for error in form.country.errors %}
                    <li> {{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        </table>
        <label>
            {{ form.intro.label}}
        </label>
        <br>
        {{ form.intro(class="textarea", rows="4") }} 
        <br>
        {% if dest_add %}
            <input type="submit" class="formi" value="Lisää Kohde"/>
        {% else %}
            <input type="submit" class="formi" value="Päivitä tiedot"/>
        {% endif %}
    </div>
</form>

{% endblock %}