{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}
    <div class="col-md-6 col-xs-10 middle-column">
        <h2>Varaukset</h2>


        <h4>Haku</h4>
        <form method="POST" action="{{ url_for('varaukset_index', page=1, order=order) }}" class="form-inline" role="form">
            
            {{ wtf.form_field(form.destination, class="form-control") }}
        
            <input type="submit" class="btn btn-default" value="Hae"/>   
        </form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Varausnumero</th>
                    <th>Tiedot Vahvistettu</th>
                    <th>Lasku lähetetty</th>
                    <th>Maksettu</th>
                
                </tr>
            </thead>
            {% for varaus in varaukset %} <!-- Listataan kaikki tietokannasta löytyvät varaukset -->
            <tr>
                <td>
                    <a href="{{ url_for('varaus_info', varaus_id=varaus.id) }}">{{ varaus.id }}</a>
                </td>
                <td>
                    <p>{{ varaus.confirmed }}</p>
                </td>
                <td>
                    <p>{{ varaus.bill_sent }}</p>
                </td>
                <td>
                    <p>{{ varaus.handled }}</p>
                </td>                   
            </tr>
            {% endfor %}
        </table>
        <ul class="pagination">
            {% for n in range(pages) %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('varaukset_index', page=n+1, order=order) }}">{{n+1}}</a>
            </li>
            {% endfor %}
    </div> 
{% endblock %}