{% extends "layout.html" %}

{% block body %}
    <div class="col-md-6 col-xs-10 middle-column">
        <h2>Varaukset</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Varausnumero</th>
                    <th>Tiedot Vahvistettu</th>
                    <th>Lasku lähetetty</th>
                    <th>Maksettu</th>
                
                </tr>
            </thead>
            {% for varaus in varaukset %} <!-- Listataan kaikki tietokannasta löytyvät varaukset -->
            <tr>
                <td>
                    <a href="{{ url_for('varaus_info', varaus_id=varaus.id) }}">{{ varaus.id }}</a>
                </td>
                <td>
                    <p>{{ varaus.confirmed }}</p>
                </td>
                <td>
                    <p>{{ varaus.bill_sent }}</p>
                </td>
                <td>
                    <p>{{ varaus.handled }}</p>
                </td>                   
            </tr>
            {% endfor %}
        </table>
    </div> 
{% endblock %}