{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}

<div class="col-md-6 col-xs-10 middle-column">
    <h2> Varauksen tiedot </h2>
    <h3> Matkakohde: {{ matkakohde.name }}, {{ matkakohde.country }}</h3>
    <h3> Lähtöpäivä: {{ date }} </h3>
    <!-- Tähän väliin paluu pvm -->
   
    <div class="card">
        <div class="card-body">
        <h4 class="card-title"> Matkustajia: {{ varaus.passengers }}</h4>
        {% for i,j,k in matkustajat %}
        <div class="card-text">
            <p>{{ i }} {{ j }} <br/>
             Henkilötunnus: {{ k }}</p>
        </div>    
        {% endfor %}
        {% if varaus.passengers > matkustajat|length %}
        <form method="POST" action="{{ url_for('varaus_info', varaus_id=varaus.id) }}" class="form" role="form">
           {{ errors }}
           {{ wtf.form_field(form.fname, class="form-control", placeholder="...") }}
           {{ wtf.form_field(form.lname, class="form-control", placeholder="...") }}
           {{ wtf.form_field(form.socialsec, class="form-control", placeholder="...") }}
           <input type="submit" class="btn btn-default" value="Lisää"/>
        </form>
        {% endif %}
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"> Hotelli: {{ hotel.name }} </h4>
            <h5> Huoneet:</h5>
            <p>1-2 henkilöä: {{ varaus.small_rooms }}</p>
            <p>3-4 henkilöä: {{ varaus.large_rooms }}</p>
        </div>  
    </div>
    
    <h4>Hinta: {{ varaus.price }}€</h4>
    {% if varaus.confirmed %}
    <div class="card">
        <p>Olet vahvistanut varauksen tiedot</p>
        <p>Lasku lähetetty: {{ lasku }}</p> 
        <p>Maksun tila: {{ maksettu }}</p>
    </div>
    {% elif varaus.passengers == matkustajat|length %}
    <form method="POST" action="{{ url_for('varaus_info', varaus_id=varaus.id, confirm = True) }}">
            <input type="submit" class="btn btn-default" value="Vahvista tiedot"/>
    </form>
    {% else %}
        <p>Varausta voi muokata niin kauan, kun et ole vahvistanut sen tietoja.</p>
        <p>Tietojen vahvistaminen on mahdollista, kun kaikkien matkustajien tiedot on syötetty</p>
    {% endif %}
</div>


{% endblock %}
