{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
{% if current_user.id == varaus.user_id or current_user.admin == 1 %}
<div class="col-md-6 col-xs-10 middle-column">
    <h2> Varauksen tiedot </h2>
    <h3> Matkakohde: {{ matkakohde.name }}, {{ matkakohde.country }}</h3>
    <h3> Lähtöpäivä: {{ date }} </h3>
    <!-- Tähän väliin paluu pvm -->
   
    <div class="card">
        <div class="card-body row">
            <h4 class="card-title col-12"> Matkustajia: {{ varaus.passengers }}</h4>
            {% for i,j,k,l in matkustajat %}
            <div class="col-6 card-text">
                <p>{{ i }} {{ j }}  <br/>
                Henkilötunnus: {{ k }}  </p>
            </div> 
                {% if not varaus.confirmed %}
            <div class="col-3">
                <form method="POST" action="{{ url_for('delete_matkustaja', matkustaja_id = l , varaus_id = varaus.id, previous_page = 'varaus_info') }}">
                <input class="btn btn-warning" type="submit" value="Poista Matkustaja"/></form>
            </div> 
                {% endif %}
            {% endfor %}
            {% if varaus.passengers > matkustajat|length %}
            <div class="col-12">
                <form method="POST" action="{{ url_for('varaus_info', varaus_id=varaus.id) }}" class="form" role="form">
                    {{ errors }}
                    {{ wtf.form_field(form.fname, class="form-control", placeholder="...") }}
                    {{ wtf.form_field(form.lname, class="form-control", placeholder="...") }}
                    {{ wtf.form_field(form.socialsec, class="form-control", placeholder="...") }}
                    <input type="submit" class="btn btn-default" value="Lisää"/>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
   
    <div class="card">
        <div class="card-body">
            {% if hotel %}
            <h4 class="card-title"> Hotelli: {{ hotel.name }} </h4>
            <h5> Huoneet:</h5>
            <p>1-2 henkilöä: {{ varaus.small_rooms }}</p>
            <p>3-4 henkilöä: {{ varaus.large_rooms }}</p>
            {% else %}
            <h4 class="card-title">Varaukseen ei sisälly majoitusta</h4>
            {% endif %}
        </div>  
    </div>
    
    <h4>Hinta: {{ varaus.price }}€</h4>
    {% if varaus.confirmed %}
    <div class="card">
        <p>Olet vahvistanut varauksen tiedot</p>
        <p>Lasku lähetetty: {% if lasku %} Kyllä {% else %} Ei {% endif %}</p>
        <p>Maksun tila: {% if maksettu %} Maksettu {% else %} Ei maksettu {% endif %}</p>
        
    </div>
    {% endif %}
   
    {% if (varaus.passengers == matkustajat|length) and (not varaus.confirmed) %}
    <form method="POST" action="{{ url_for('varaus_info', varaus_id=varaus.id, confirm = True) }}">
            <input type="submit" class="btn btn-default" value="Vahvista tiedot"/>
    </form>
    {% endif %}
    {% if current_user.admin == 1 %}
        {% if (varaus.confirmed) and (not lasku) %}
    <form method="POST" action="{{ url_for('varaus_info', varaus_id=varaus.id, lasku = True) }}">
            <input type="submit" class="btn btn-default" value="Lasku lähetetty"/>
    </form> 
        {% elif (lasku) and (not maksettu) %}
    <form method="POST" action="{{ url_for('varaus_info', varaus_id=varaus.id, maksettu = True) }}">
            <input type="submit" class="btn btn-default" value="Lasku maksettu"/>
    </form> 
        {% endif %}
        <!-- Varauksen poistonamiska. -->
        <form method="POST" action="{{ url_for('varaukset_delete', varaus_id=varaus.id) }}" class="form" role="form">
                <input type="submit" class="btn btn-warning" value="Poista varaus"/>
            </form>
    {% endif %}    
    <p>Varausta voi muokata niin kauan, kun et ole vahvistanut sen tietoja.</p>
    <p>Tietojen vahvistaminen on mahdollista, kun kaikkien matkustajien tiedot on syötetty</p>
    <p class="text-black-70">Varausnumero: {{ varaus.id }}</p>
    
</div>
{% else %}
<div class="container-fluid">
    <p>Valitettavasti sinulla ei ole oikeuksia tarkastella tätä sivua </p>
    <a href="{{ url_for('matkakohteet_index') }}">Takaisin etusivulle</a>
</div>
{% endif %}
{% endblock %}
